<!-- about.html -->
	<toaster-container toaster-options="{'close-button': true}"></toaster-container>	
    <div class="jumbotron text-center">
    	
        Descubre como esta el clima en

        <form ng-submit="buscar(formu)">
	      <center><input id="txtBuscar" type="text" class="form-control" ng-model="formu.ciudad"></center>
	        <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="buscar(formu)">
	 			 <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar
			</button>
			<br><br>
		</form>

		<p>El clima en <span class="PrimerLetra">{{response.name}} , {{response.sys.country}}</span></p>

        <table class="table">
			    <thead>
			        <tr>
				        <th class="text-center">Estado actual</th>
				        <th class="text-center">Temperatura actual</th>
				        <th class="text-center">T° Maxima</th>
				        <th class="text-center">T° Minima</th>
			        </tr>
			    </thead>
			    <tbody>
				    <tr >
				        <td><span class="PrimerLetra">{{response.weather.0.description}}</span></td>
				        <td>{{response.main.temp.toPrecision(2)}}°C</td>
				        <td>{{response.main.temp_max.toPrecision(2)}}°C</td>
				        <td>{{response.main.temp_min.toPrecision(2)}}°C</td>    
				    </tr>
			    </tbody>
  			</table>
    </div>